@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    .prose {
      --tw-prose-headings: inherit;
      --tw-prose-body: inherit;
    }

    --header-height: 3.5rem;
    --cell-size: var(--spacing-8);
  }

  .dark,
  :root[class~='dark'] {
    .prose {
      --tw-prose-headings: 0 0% 98%;
      --tw-prose-body: 0 0% 98%;
    }
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Global scrollbar styling */

  ::-webkit-scrollbar {
    @apply h-2.5 w-2.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-border rounded-full border-[1px] border-solid border-transparent bg-clip-padding;
  }

  .font-mono *,
  .prose pre *,
  .prose code * {
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
  }
}

@layer base {
  /* white border fix */
  *,
  body *,
  ::before,
  ::after {
    border-color: hsl(var(--border));
  }

  html {
    font-size: clamp(15px, 0.3vw + 14px, 20px);
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

.richtext-outline {
  outline: none !important;
  border: 1px solid var(--ring) !important;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  [id] {
    scroll-margin-top: calc(var(--header-height) + 1rem);
  }
}

.link {
  color: hsl(var(--primary));
}

.link:hover {
  text-decoration: underline;
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes ping {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes pipe-flow {
  0% {
    transform: translateX(-60%);
  }

  to {
    transform: translateX(60%);
  }
}

.animate-pipe-flow {
  animation: pipe-flow 2s linear infinite;
}

@keyframes pipe-grow {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }

  49% {
    opacity: 0.4;
    transform: scale(1);
  }

  50% {
    transform: scale(3);
  }

  60% {
    opacity: 0.6;
    transform: scale(1);
  }

  to {
    opacity: 0.6;
    transform: scale(1);
  }
}

.animate-pipe-grow {
  animation: pipe-grow 2s linear infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-out {
  animation: fade-in 0.2s ease-out reverse forwards;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-out;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.animate-roll {
  animation: spin 2s linear reverse;
}

@keyframes wipe-left {
  0% {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }

  to {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
}

.animate-wipe-left {
  animation: wipe-left 1s linear;
}

.example-enter {
  transform: translateX(100%);
}

.example-enter.example-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease-in-out;
}

.example-leave {
  transform: translateX(0%);
}

.example-leave.example-leave-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}
